<%= form_for @new do |f| %> 

<div class='form-group'>
	<b><%= f.label :id %></b>
	<%= f.text_field :id, class: 'form-control' %>
</div>

<div class='form-group'>
	<b><%= f.label :first_name %></b>
	<%= f.text_field :first_name, class: 'form-control' %>
</div>

<div class='form-group'>
	<b><%= f.label :second_name %></b>
	<%= f.text_field :second_name, class: 'form-control'%>
</div>

<div class='form-group'>
	<b><%= f.label :address %></b>
	<%= f.text_field :address, class: 'form-control' %>
</div>

<div class='form-group'>
	<b><%= f.label :birthday %></b>
	<%= f.text_field :birthday, class: 'form-control' %>
</div>

<div class='form-group'>
	<%= f.submit 'Сохранить', class: 'btn btn-primary' %>
</div>

<% end %>